== render partial: 'form', locals: {opts: {title: false, \
                                           title_form: true, \ 
                                           author: false, \
                                           save_as_new: false}}
